.blog {

    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    box-sizing: border-box;
}

.blog h2 {
    text-align: start;
}

.blog img {
    width: 845px;
    height: 450px;
    border-radius: 8px;
    box-sizing: border-box;
}

.author-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-details {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 34px 0px 16px;
}

.author-name {
    margin: 0;
    font-size: 24px;

}

.publish-date {
    margin: 0;
    font-size: 16px;
    color: rgba(17, 17, 17, 0.60);
    text-align: start;
}

.author-details img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.bookmark {
    display: flex;
}

.btn-bookmark {
    border: none;
    font-size: 20px;

}

.btn-bookmark:hover {
    color: #747bff;
    cursor: pointer;
}

.btn-bookmark:active {
    color: black;
}

@media only screen and (max-width: 600px) {
    .blog img {
        width: 100%;
        height: 100%;
    }

    /* .author-info {
        flex-direction: column;
    } */

    .author-details img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}