.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 15px;
    height: 64px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.15);
    margin-bottom: 32px;
}

.logo {
    color: #747bff;
}


.manu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.manu a {
    margin-left: 20px;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .manu {
        display: none;
    }
}